.c3-gauge-value{
    opacity: 1 !important;
}
.c3-pie-value{
    opacity: 1 !important;
}
body{
    background-color: #f2f2f2;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
}


